input {	
  display: block;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  height: 40px;
  padding-bottom: 2px;
  border-radius: 500px;
  padding-left: 18px;
  border: none;
  margin: 0 auto 10px;
  font-size: 20px;
  outline: none;
}

.btn {
  outline: none;
}