.home-header-container {
	font-family: Summer-Hearts;
	position: relative;
}

.twitch-header-one {
	text-align: center;
	font-size: 62px;
	margin-top: 7px;
  transform: rotate(-5.5deg);
}

.twitch-header-one-capital {
	font-size: 90px;
  position: relative;
  left: 9px;
}

.twitch-header-two {
	text-align: center;
	font-size: 50px;
	transform: rotate(-5.5deg);
  position: relative;
  left: -24px;
  bottom: 13px;
}

.twitch-header-two-capital {
	font-size: 70px;
}

.twitch-icon {
  font-family: Icomoon;
  position: absolute;
  right: 6px;
  bottom: -169px;
  font-size: 155px;
  transform: rotate(-7.5deg);
  color: rgba(255, 255, 255, 0.2);
}

.home-login-container {
	margin-top: 62px;
}

.login-form {
  margin: 0 auto;
  max-width: 375px;
}

.login-form:after {
  content: "";
  display: table;
  clear: both;
}

.login-form input {	
  display: block;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 40px;
  padding-bottom: 2px;
  border-radius: 500px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  margin: 0 auto 10px;
  font-size: 20px;
  outline: none;
}

.login-form button {
  margin-top: 5px;
  background: linear-gradient(#00DC4A 45%, #00BF41);
  color: #fff;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding: 5px 10px 8px;
  float: right;
  border-radius: 4px;

  &:hover, &:active, &:focus {
  	background: linear-gradient(#00BF41 45%, #009633);
  }
}

#loginMessage {
  font-size: 18px;
  margin-top: 15px;
}

.home-register-container {
	margin-top: 64px;
  text-align: center;
  margin-bottom: 50px;
}

.home-register-message {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-register-btn {
	background: linear-gradient(#FFB400 82%, #C68C00);
  color: #fff;
  border: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 90%;
  height: 37px;
  padding-bottom: 4px;
  max-width: 330px;
  border-radius: 500px;

  &:hover, &:active, &:focus {
  	background: linear-gradient(#EAA500 82%, #BD8500);
  }
}

@media (min-width: 768px) {
	body {
		background: #ece5cc;
	}

	.seats {
		background: url(images/blue_seats_sm.jpg);
		background-size: cover;
    height: 405px;
    position: absolute;
    top: 74px;
    right: 0px;
    left: 0px;
	}

	.home-header-container {
		background: url(images/ring.png);
		background-size: cover;
		height: 400px;
		width: 400px;
		margin: 75px auto 0;
	}

	.twitch-header-one {
		font-size: 76px;
		position: absolute;
    top: 105px;
    left: 33px;
	}

	.twitch-header-one-capital {
		font-size: 96px;
	}

	.twitch-header-two {
    font-size: 64px;
		position: absolute;
    right: 8px;
    top: 209px;
	}

	.twitch-header-two-capital {
		font-size: 82px;
	}

	.twitch-icon {
    right: 64px;
    bottom: 64px;
    font-size: 62px;
    color: #fff;
	}

	.home-login-container {
		margin-top: 34px;
	}

	.home-login-header {
		font-size: 42px;
		text-align: center;
		color: #444;
		margin-bottom: 25px;
	}

  .login-form {
    width: 600px;
    max-width: none;
  }  

  .login-form input {    
    height: 45px;
    font-size: 24px;
    margin-bottom: 12px;
  }

  .login-form input::placeholder {
    color: #665;
  }

	.login-form button {
		font-size: 26px;
		margin-top: 8px;
	}

	#loginMessage {
		text-align: center;
    font-size: 22px;
    color: #444;
	}

	.home-register-message {
		color: #444;
		font-size: 22px;
    margin-top: 108px;
	}

	.home-register-btn {
		height: 46px;
		max-width: none;
		width: 450px;
		font-size: 26px;
		padding-bottom: 6px;
	}
}

@media (min-width: 992px) {
	.seats {
		background: url(images/blue_seats_md.jpg);
		height: 500px;
	}

	.home-header-container {
		height: 490px;
		width: 490px;
	}

	.twitch-header-one {
		font-size: 85px;
    top: 137px;
    left: 60px;
	}

	.twitch-header-one-capital {
    font-size: 108px;	
	}

	.twitch-header-two {
    font-size: 78px;
    top: 257px;
	}

	.twitch-header-two-capital {
		font-size: 92px;
	}

	.twitch-icon {
    right: 88px;
    bottom: 103px;
    font-size: 68px;
	}

	.home-login-header {
		margin-top: 15px;
		font-size: 60px;
	}

  .login-form {
    width: 750px;
  }

  .login-form input {
    height: 55px;
    font-size: 26px;
    margin-bottom: 14px;
  }

	.login-form button {
		padding: 10px 25px;
		font-size: 30px;
	}

	.home-register-message {
		font-size: 28px;
	}

	.home-register-btn {
		height: 58px;
    width: 550px;
    font-size: 32px;
	}
}

@media (min-width: 1200px) {
	.seats {
 		background: url(images/blue_seats_lg.jpg);
 		width: 100%;
 		height: 350px;
 		top: 37px;
	}

	.home-header-container {
		height: 350px;
		width: 350px;
		margin-top: 37px;
	}

	.twitch-header-one {
		font-size: 62px;
    top: 83px;
    left: 32px;
	}

	.twitch-header-one-capital {
    font-size: 87px;
	}

	.twitch-header-two {
		font-size: 58px;
    top: 175px;
	}

	.twitch-header-two-capital {
		font-size: 78px;
	}

	.twitch-icon {
    right: 53px;
    bottom: 64px;
    font-size: 56px;
	}

	.home-login-header {
		font-size: 48px;
	}

	.login-form input {
    height: 50px;
    font-size: 24px;
  }

	.login-form button {
    padding: 8px 15px;
    font-size: 28px;
	}

	.home-register-message {
		font-size: 24px;
	}

	.home-register-btn {
		height: 45px;
    font-size: 26px;
    margin-bottom: 50px;
	}
}