.loading-container {
  text-align: center;
  margin: 0 auto;
}

.loading-text {
	font-size: 24px;
  position: relative;
  top: -120px;
}

@media (min-width: 768px) {
	.loading-text {
		font-size: 26px;
	}
}