.register-banner {
  height: 80px;
  background: url(images/reels.png);
  position: absolute;
  top: 20px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.54);
}

.register-banner-text {
  line-height: 80px;
  padding-left: 17px;
  font-size: 42px;
  font-family: Summer-Hearts;
}

.register-form-container {
	margin-top: 125px;
}

.register-form label {
	display: block;
	font-size: 22px;
	margin-bottom: 5px;
}

.register-form input {
	display: block;
	height: 40px;
	width: 100%;
	font-size: 20px;
  font-family: 'Open Sans', sans-serif;
	margin-bottom: 15px;
	padding: 0 12px;
	border-radius: 4px;
	outline: none;
	border: none;
  box-shadow: none;
}

.register-form input::placeholder {
	font-family: 'Open Sans', sans-serif;
}

#registerFormMessage {
	font-size: 18px;
}

.register-form button {
	display: inline-block;	
  background: #FFB400;  
  border: none;
  margin-top: 20px;
	margin-right: 8px;
	margin-bottom: 50px;
	padding: 5px 10px 8px;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #fff;  

  &:hover, &:active, &:focus {
  	background: #E6A200;
    cursor: pointer;
  }
}

.register-cancel {
	display: inline-block;
	height: 40px;
	width: 107px;
	background: #01D6E0;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;

  &:hover, &:active, &:focus {
  	background: #01C8D1;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .register-banner {
    top: 75px;
    height: 130px;
    background: url(images/reels_sm.jpg);
    box-shadow: none;
  }

  .register-banner-text {
    line-height: 130px;
    font-size: 50px;
    padding-left: 26px;
  }

  .register-form-container {
    margin-top: 250px;
    color: #444;
  }

  .register-form label {
    font-size: 26px;
    margin-bottom: 10px;
  }

  .register-form input {
    height: 46px;
    font-size: 24px;
    margin-bottom: 28px;
  }

  #registerFormMessage {
    font-size: 20px;
  }

  .register-form button {
    font-size: 28px;
    margin-top: 32px;
  }

  .register-cancel {
    width: 122px;
    height: 45px;
    font-size: 28px;
    line-height: 45px;
  }
}

@media (min-width: 992px) {
  .register-banner {
    height: 200px;
    background: url(images/reels_md.jpg);
  }

  .register-banner-text {
    line-height: 200px;
    font-size: 70px;
    padding-left: 44px;
  }

  .register-form-container {
    margin-top: 345px;
  }

  .register-form label {
    font-size: 32px;
  }

  .register-form input {
    height: 58px;
    font-size: 28px;
    margin-bottom: 35px;
  }

  .register-form button {
    font-size: 32px;
    padding: 12px;
  }

  .register-cancel {
    font-size: 32px;
    height: 60px;
    width: 140px;
    line-height: 60px;    
  }
}

@media (min-width: 1200px) {
  .register-banner {
    background: url(images/reels_lg.jpg);
    top: 37px;
  }

  .register-banner-text {
    text-align: center;
    font-size: 88px;
    padding-left: 0px;
  }

  .register-form-container {
    margin-top: 300px;
  }

  .register-form label {
    font-size: 24px;
  }

  .register-form input {
    height: 46px;
    font-size: 24px;
    margin-bottom: 26px;
  }

  .register-form button {
    font-size: 26px;
  }

  .register-cancel {
    width: 118px;
    height: 53px;
    line-height: 53px;
    font-size: 26px;
  }
}