.search-bar {
  width: 100%;
  margin-bottom: 50px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.search-btn-container {
  display: flex;
  position: relative;
  bottom: 40px;
  margin-bottom: 5px;
}

.search-btn {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 3px;

  &:hover {
    cursor: pointer;
  }
}

#streamsBtn {
  @extend .search-btn;

  margin-right: 5px;
  background: #13C629;

  &:hover {
    background: #00B416;
  }
}

#channelsBtn {
  @extend .search-btn;

  margin-left: 5px;
  background: #89D403;

  &:hover {
    background: #7ABE00;
  }
}

.search-content-container {
  font-size: 24px;
}

.page-nav {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.page-nav div {
  flex: 1;
  text-align: center;
  font-size: 28px;
  margin: auto;
}

#prev, #next {
  font-size: 32px;
  transition: scale 0.2s ease-in;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}


@media (min-width: 768px) {
  .search-bar {
    height: 50px;
    margin-bottom: 64px;
    font-size: 22px;
  }

  .search-btn-container {
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .search-btn {
    max-width: 280px;
    height: 55px;
    font-size: 24px;
  }

  #streamsBtn {
    margin-right: 0px;
  }

  #channelsBtn {
    margin-left: 0px;
  }

  .search-content-container {
    display: flex;
    flex-wrap: wrap;
  }

  .page-nav div {
    font-size: 42px;
  }

  #prev, #next {
    font-size: 38px;
  }
}

@media (min-width: 992px) {
  .search-bar {
    height: 60px;
    font-size: 26px;
    margin-bottom: 68px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .search-btn {
    max-width: 300px;
    height: 60px;
    font-size: 28px;
  }

  .page-nav div {
    font-size: 48px;
  }

  #prev, #next {
    font-size: 44px;
  }
}