.search-bar {
  width: 100%;
  margin-bottom: 50px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

.search-btn-container {
  display: flex;
  position: relative;
  bottom: 40px;
  margin-bottom: 5px;
}

.search-btn {
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}

#streamsBtn {
  @extend .search-btn;

  margin-right: 5px;
  background: #13C629;
}

#channelsBtn {
  @extend .search-btn;

  margin-left: 5px;
  background: #89D403;
}

.page-nav {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.page-nav div {
  flex: 1;
  text-align: center;
  font-size: 28px;
  margin: auto;
}

#prev, #next {
  font-size: 32px;
}


@media (min-width: 768px) {
  .search-bar {
    height: 50px;
    margin-bottom: 64px;
    font-size: 22px;
  }

  .search-btn-container {
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .search-btn {
    max-width: 280px;
    height: 55px;
    font-size: 24px;
  }

  #streamsBtn {
    margin-right: 0px;
  }

  #channelsBtn {
    margin-left: 0px;
  }

  .page-nav div {
    font-size: 42px;
  }

  #prev, #next {
    font-size: 38px;
  }
}