.viewer-nav {
	height: 70px;
	line-height: 70px;
}

.viewer-twitch-icon {
  display: inline;
  font-family: 'Icomoon';
  font-size: 48px;
  color: rgba(255, 255, 255, 0.35);
}

.viewer-twitch-logo {
  position: absolute;
  top: 9px;
  font-family: Summer-Hearts;
  font-size: 30px;
  left: 22px;
  transform: rotate(-4.5deg);
}

.viewer-twitch-logo-capital {
  position: relative;
  left: 2px;
  font-size: 40px;
}

.log-out-container {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 10px;
}

.log-out-btn {
  border: none;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  background: #01D6E0;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

.tab-container {
	display: flex;
	margin-top: 30px;
	margin-bottom: 35px;
	border-bottom: 1px solid #fff;
}

.tab {
  flex: 1;
  text-align: center;
  font-size: 23px;  
  padding-bottom: 14px;
}

.active-tab {
	border-bottom: 5px solid #fff;
}