@import 'partials/_normalize.scss';
@import 'partials/_bootstrap.scss';
@import 'partials/_home.scss';
@import 'partials/_register.scss';
@import 'partials/_notfound.scss';


@font-face {
	font-family: Summer-Hearts;
	src: url(fonts/SummerHearts-Regular.otf);
}

@font-face {
	font-family: Icomoon;
	src: url(fonts/icomoon.ttf);
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	padding: 0.1px; // to prevent margin collapse
	color: #fff;
	background: fixed linear-gradient(#4b9f92 55%, #2F897A);
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;

	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #eee;
	}
}

@media (min-width: 768px) {
	body {
		background: #ece5cc;
	}
}